#deps/*
*.rule
*.cache
Doxyfile

.vs
CMakeSettings.json
# in build folder
*.cso
*.exp
*.res
*.spv
*.targets
*.nupkg
*TemporaryGeneratedFile*
*FileListAbsolute.txt
*.g.*
*.baml
*.lref

*CMakeCache.txt
*.check_cache
*.cmake
*.vcxproj
*.vcxproj.filters
*.cxx
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.obj
*.sln
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.lib
*.dll
TargetDirectories.txt
*.depend
*.stamp*
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
*.bin
*.idb
*.db
*.opendb
*.o*
*.a
*.recipe
*.ipch