#deps/*
*.rule
*.cache
Doxyfile

# in build folder
ftconfig.h
glfw3.pc
glfw_config.h
*.pc
*.cso
*.exp
zconf.h
pnglibconf.h
*.res

*CMakeCache.txt
*.check_cache
*.cmake
#*.vcxproj
#*.vcxproj.filters
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.obj
#*.sln
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.lib
*.dll
TargetDirectories.txt
*.depend
*.stamp*
CMakeCCompilerId.c
CMakeCXXCompilerId.cpp
*.bin
*.idb
*.db
*.opendb
*.o*
*.a
*.recipe
*.ipch